<%- layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="alert alert-primary d-flex align-items-center" role="alert">
  <div>
    <%= err.name %>
<br>    <%= err.message %>
</div>
</div>

</body>